%form#search-form.ui-listview-filter.ui-bar-c{:action => "/search/", :method => "post", :role => "search"}
  %input#search{:type => "search", :name => "search", :value => "", :placeholder => "Search by unit, resident info..."}