="-----------------------------------"

="Greetings!"

="Unit #{@email_options[:unit]} has received #{@email_options[:qty] > 1 ? "#{@email_options[:qty]} packages" : "a package" } on #{@email_options[:created_on].strftime("%a, %b %-d, %Y")}."

Please stop by the Concierge desk at your earliest convenience for retrieval.

Sincerely,
ResidentDesk Concierge

="-----------------------------------"

1800 Camden Rd, Suite 107/123, Charlotte, NC 28202
tel: +1 (704) 980-9715 | fax: +1 (704) 980-9715

="-----------------------------------"