#error-403{:data => {:role => "dialog", :theme => "d"}}
  %div{:data => {:role => "header"}}
    %a{:href => "#", :data => {:rel => "back", :icon => "arrow-l ui-icon-custom", :iconpos => "notext"}} Back
    %h2= "Access Denied!"
  %div{:data => {:role => "content"}}
    %p
      Sorry, but you do not have sufficient privileges to access that page.
    %p
      If you feel this is in error, please contact your system administrator, thank you!