#error-50X{:data => {:role => "dialog", :theme => "d"}}
  %div{:data => {:role => "header"}}
    %a{:href => "#", :data => {:rel => "back", :icon => "arrow-l ui-icon-custom", :iconpos => "notext"}} Back
    %h2= "An error occurred"
  %div{:data => {:role => "content"}}
    %p
      We apologize for your inconvenience!
    %p
      Please notify your system administrator of the error, thank you!